extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/haunts.css")
block content
  div(id="haunts-container")
    h1= "All of the haunts"
      br
      each haunt in haunts
        +haunts(haunt.GenreType.type, haunt)
