extends layout
append head
  link(rel="stylesheet" href="/stylesheets/haunts.css")
block content
  h1= "all the haunts"
  each haunt in haunts
    li
      div(class= 'hauntCard')
        img(src='images/image-' + haunt.id + '.jpeg' alt='image')
        p(class='title')= haunt.title
        p= haunt.score
