doctype html
html
  head
      block head
        title="Good Haunts"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
  body
      if (!splash)
          nav
              ul(id="nav-container")
                  li
                      a(href="/" id="logo" class="nav-links") GOOD HAUNTS
                  li
                      a(href="/haunts" class="nav-links")  Haunts
                      if (locals.authenticated)
                          li
                              a(href="/users/" + user.id class="nav-links") Profile
                          li
                              a(href="/users/logout" class="nav-links") Log out
                      else
                          li
                              a(href="/login" class="nav-links") Login
                          li
                              a(href="/signup" class="nav-links") Sign Up
  block content
