extends layout.pug
include utils.pug

block content
    h1= "Leave a review"
    +error

    form(action='/reviews/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='hauntId' value=haunt.id)
        div(class= "form")
            label(for= "review") Create a review
            textarea(class= "review", placeholder= "This place is great because...")
            button Submit
            a(href='/haunts/' + haunt.id class='btn btn-cancel') Cancel


//- check if form action path is correct
//- Line 18 after submit should href to the haunts/:id page
