#footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--cadet);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

    position: absolute;
    bottom:0;
    width:100%;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.github-linkedin {
    display:flex;
    justify-content: space-around;
}

.copyright {
    background-color: var(--bistro);
    border-radius: 5px;
    box-shadow: 0 0 10px 10px var(--bistro);
}

.fab.fa-linkedin,
.fab.fa-github {
    font-size: 25px;
}

.fab.fa-linkedin:hover,
.fab.fa-github:hover {
    color: var(--pumpkin);
}

.our-names:hover {
    transform: scale(1.2);
}
