#footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--cadet);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

    position: absolute;
    bottom:0;
    width:100%;
}

.ind-links {
    display: flex;
    flex-direction: column;
}

.github-linkedin {
    display:flex;
    justify-content: space-around;
}

.copyright {
    background-color: var(--bistro);
}
