/* Boilerplate design for our forms (login, signup, reviews, comment on review) */

#rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#rating-container > input {
  display: none;
}

#rating-container > label {
  width: 1.1em;
  font-size: 20px;
  color: var(--periwinkle);
  cursor: pointer;
}

#rating-container > label::before {
  content: "\2605";
  position: absolute;
  color: var(--pumpkin);
  opacity: 0;
}

#rating-container > label:hover:before,
#rating-container > label:hover ~ label:before {
  opacity: 1 !important;
}

#rating-container > input:checked ~ label:before {
  opacity: 1;
}

#rating-container:hover > input:checked ~ label::before {
  opacity: 0.4;
}

.error {
  list-style-type: circle !important;
  text-align: center;
  color: var(--pumpkin);
}

.center-title {
  text-align: center;
}

textarea {
  background-color: var(--xanadu);
  color: var(--cadet);
}

form {
  display: flex;
  justify-content: center;
}

.form-box {
  display: flex;
  justify-content: center;

  background-color: var(--bistro);
  box-shadow: 0px 0px 12px var(--bistro);
  border-radius: 5px;

  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid var(--pumpkin);
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
  color: var(--periwinkle);
}


.flame {
  /* set the size of the flame side */
  width: 40vmin;
  /* make it square */
  aspect-ratio: 1;
  /* give it a drop/tear shape */
  border-radius: 2% 87% 45% 85%;
  /* position it at the center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  /* really in the center + tilt clockwise*/
  transform: translate(-50%, -50%) rotate(45deg);
  /* temporary for demo, so the shape is visible */
  border: 1px solid black;
  background: rgba(0, 0, 0, 0);
  /* transform: scale(.2); */

  margin: 2px;
}

.flame:hover {
  background: radial-gradient(
      100% 100% at 90% 90%,
      #251c27,
      #251c2733 20%,
      #251c2700 50%
    ),
    radial-gradient(farthest-side at 110% 120%, #251c27, #631, #cb6c3b88, #0000),
    radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
    linear-gradient(135deg, #fff0 20%, #ff0), #ffe;
}
