h1 {
  color: var(--pumpkin);
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

p {
  text-align: left;
}

a {
  position: relative;
  text-decoration: none;
}

body {
  margin: 50px;
}

li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

img {
  height: 300px;
  width: 350px;
  box-shadow: 0 0 20px var(--xanadu);
}

img:hover {
  box-shadow: 0px 0px 12px var(--pumpkin);
}

.historical {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: left;
}

.outdoors {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.asylum {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* .category {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

.hauntCard {
  box-shadow: 0 0 15px var(--bistro);
  background-color: var(--bistro);
  gap: 1px;
}
