@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  --xanadu: #7e9181;
  --pumpkin: #fe7f2d;
  --periwinkle: #c7cedb;
  --bistro: #2b2118;
  --cadet: #2a2e45;
}

body {
  background-color: var(--cadet);
  color: var(--periwinkle);
  font-family: "EB Garamond", serif;
  margin: 50px;
}

nav a {
  color: var(--xanadu);
  text-shadow: var(--periwinkle) 1px 1px 1px;
  position: relative;
  text-decoration: none;
}

nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--pumpkin);
  bottom: -2px;
  transition: width 250ms 0s;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  color: var(--pumpkin);
}

h2 {
  color: var(--periwinkle);
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cadet);
  box-shadow: 0px 2px 2px var(--xanadu);
  list-style: none;
  height: 30px;
  margin-bottom: 10px;
}

.nav-links {
  justify-content: flex-end;
  text-decoration: none;
  font-weight: 800;
  font-size: 36px;
  color: var(--xanadu);
  text-shadow: 0px 0px 5px var(--pumpkin);
}

.nav-links:hover {
  color: var(--pumpkin);
}

#logo {
  width: 120px;
  height: auto;
  margin-left: 5px;
}

#logo:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
